@mixin LoadingRing{
    @keyframes RingAnimation{
        0% {transform: rotate(0deg) };
        25% {
            transform: rotate(90deg);
        };
        50% {transform: rotate(180deg)};
    
        75% {transform: rotate(270deg)};
    
        100% {transform: rotate(365deg)};
    }
    
    .loading-ring{
        display: flex;
        flex-flow: column;
        
        .ring-prong{
            background: white;
            width: 1rem;
            height: 5rem;
            animation: RingAnimation;
            animation-duration: 0.5s;
            animation-iteration-count: infinite;
    
            align-self: center;
            justify-self: center;
        }
    }
}
