#options-input{
    align-items: baseline;
}

#new-game-form{
    .row{
        padding: 0;
        width: 100%;
        display: flex;
        flex-flow: row;

        #increment-box{
            padding: 0 !important;
            margin: 0 !important;
            justify-self: left;
        }
    }

}