body{  
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;  
    
}

fieldset{
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-color: gray;
}

#app-content{
    width: 100%;
    height: 1520px;
    display: grid;
    grid-template-areas: 'game bank'
    'game account'
    'controls controls';

    background: black;
    gap : 3px;
    padding: 2px;
}

.grid-item{
    border: 1px solid white;
    border-radius: 5px;
    padding: 4px;

    font-size: 20px;
    overflow: hidden;
}

.module-title{
    font-weight: bold;
    border-bottom: 1px solid white;
}

.control-button{
   font-weight: bold;
}

.input-field{
    font-size: 20px;
}

#grid-game{
    grid-area: game;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 128, 0.3);
    padding: 0;
}

#game-pool-border-circle{
    border: 2px solid white;
    border-radius: 50%;
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: border-color 0.5s ease-out;
}

#game-pool-border-circle.flash{
    border-color: red;
}

#output-account-balance{
    transition: color 0.3s ease-out;
}

#output-account-balance.flash{
    color: red;
}

#grid-bank, #grid-account{
    background: rgba(0, 128, 0, 0.3);
}

#grid-controls{
    background: rgba(0, 64, 64, 0.3);
}

#grid-bank{
    grid-area: bank;
    
}

#grid-controls{
    grid-area: controls;
    display: grid;
    grid-template-areas: 'input-game input-game input-bank input-bank'
    'button-place-bet select-side button-pay-debt button-loan'
    'button-fold button-fold button-fold button-fold'
    'button-end-game button-end-game button-end-game button-end-game';
}

#input-game-bool{
    grid-area: select-side;
}

#input-bet-amount{
    grid-area: input-game;
}

#input-bank{
    grid-area: input-bank;
}

#button-loan{
    grid-area: button-loan;
}

#button-pay-debt{
    grid-area: button-pay-debt;
}

#button-end-game{
    grid-area: button-end-game;
}

#button-create-game{
    grid-area: button-create-game;
}

#button-fold{
    grid-area: button-fold;
}

#button-call{
    grid-area: button-call;
}

#button-create-game{
    grid-area: button-create-game;
}

#grid-account{
    grid-area: account;
}

#game-pool{
    grid-area: game-pool;
}

#output-game-pool{
    font-size: 60px;
}

#output-game-min-bet{
    font-size: 15px;
}