* {
  box-sizing: border-box; }

@media screen and (max-width: 1000px) {
  /*Mobile phone*/
  #app-content {
    width: 100%;
    height: 820px;
    display: grid;
    grid-template-areas: 'game-name game-name' 'game-pool controls' 'account controls' 'bank controls';
    background: #2e2b00;
    gap: 3px;
    padding: 2px; } }

@media screen and (min-width: 1001px) {
  #app-content {
    width: 720px;
    height: 820px;
    display: grid;
    grid-template-areas: 'game-name game-name' 'game-pool controls' 'account controls' 'bank controls';
    background: #2e2b00;
    gap: 3px;
    padding: 2px; } }

#game-name {
  grid-area: game-name;
  display: flex;
  align-items: center;
  justify-content: center; }

#game-pool {
  grid-area: game-pool;
  display: flex;
  align-items: center;
  justify-content: center; }

#game-pool-border-circle {
  border: 2px solid white;
  border-radius: 50%;
  height: 400px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 0.5s ease-out; }

#output-game-pool {
  font-size: 60px; }

#output-game-min-bet {
  font-size: 15px; }

.input-field {
  font-size: 20px; }

.control-button {
  font-weight: bold; }

#grid-controls {
  min-height: 500px;
  grid-area: controls;
  display: grid;
  grid-template-areas: 'input-game input-game input-bank input-bank' 'button-place-bet select-side button-pay-debt button-loan' 'button-fold button-fold button-fold button-fold' 'button-end-game button-end-game button-end-game button-end-game'; }

#button-end-game {
  grid-area: button-end-game; }

#button-create-game {
  grid-area: button-create-game; }

#button-fold {
  grid-area: button-fold; }

#button-call {
  grid-area: button-call; }

#button-create-game {
  grid-area: button-create-game; }

#button-loan {
  grid-area: button-loan; }

#button-pay-debt {
  grid-area: button-pay-debt; }

#input-game-bool {
  grid-area: select-side; }

#input-bet-amount {
  grid-area: input-game; }

#input-bank {
  grid-area: input-bank; }

#grid-bank {
  font-size: 25px;
  grid-area: bank; }

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black; }

.grid-item {
  border: 1px solid black;
  border-radius: 5px;
  padding: 4px;
  font-size: 25px;
  font-weight: bold;
  background: #ffd900; }

input {
  font-weight: bold;
  font-size: 50px; }

button, select {
  font-weight: bold;
  font-size: 25px; }
