* {
  box-sizing: border-box; }

#app-content {
  border-radius: 5px; }

@media screen and (max-width: 1000px) {
  /*Mobile phone*/
  #app-content {
    width: 100%;
    display: grid;
    grid-template-areas: 'game-name game-name' 'game-pool game-pool' 'account bank' 'controls controls';
    background: #2e2b00;
    gap: 3px;
    padding: 2px; } }

@media screen and (min-width: 1001px) {
  #app-content {
    width: 820px;
    height: 820px;
    display: grid;
    grid-template-areas: 'game-name game-name' 'game-pool controls' 'account controls' 'bank controls';
    background: #2e2b00;
    gap: 3px;
    padding: 2px;
    align-items: center; } }

#game-name {
  grid-area: game-name;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; }

#game-pool {
  grid-area: game-pool;
  height: 500px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #00002f;
  border-color: #00007c; }

#game-pool-border-circle {
  border: 2px solid white;
  border-radius: 50%;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 0.5s ease-out; }

#output-game-pool {
  font-size: 60px; }

#output-game-min-bet {
  font-size: 15px; }

#grid-account {
  font-size: 35px;
  grid-area: account;
  color: white; }

#output-account-balance {
  transition: color 0.3s ease-out; }

#output-account-balance.flash {
  color: red; }

.input-field {
  font-size: 20px; }

.control-button {
  font-weight: bold; }

#grid-controls {
  height: 300px;
  grid-area: controls;
  display: grid;
  grid-template-areas: 'button-place-bet select-side button-pay-debt button-loan' 'button-fold button-fold button-fold button-fold' 'button-end-game button-end-game button-end-game button-end-game';
  border-color: #0000c8;
  gap: 3px; }

#button-end-game {
  grid-area: button-end-game; }

#button-create-game {
  grid-area: button-create-game; }

#button-fold {
  grid-area: button-fold; }

#button-call {
  grid-area: button-call; }

#button-create-game {
  grid-area: button-create-game; }

#button-loan {
  grid-area: button-loan; }

#button-pay-debt {
  grid-area: button-pay-debt; }

#input-game-bool {
  grid-area: select-side; }

#input-bet-amount {
  grid-area: input-game; }

#input-bank {
  grid-area: input-bank; }

#grid-bank {
  font-size: 35px;
  grid-area: bank;
  color: white; }

body {
  display: flex;
  flex-flow: column;
  gap: 3px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black; }

input {
  font-size: 50px; }

button, select, input {
  font-weight: bold;
  font-size: 25px; }

button, select {
  background: #1616ff;
  color: white;
  border-radius: 5px;
  border: 1px solid white;
  border-color: #0000c8; }

.grid-item {
  border: 1px solid white;
  border-radius: 5px;
  background: #00007c;
  border-color: #0000c8;
  padding: 4px;
  font-size: 25px;
  font-weight: bold;
  background: #00007c; }

#nav-header {
  height: 50px;
  width: 100%;
  background: #00007c; }
