@import '../Config.scss';

header{
    z-index: 5;
    display: flex;
    flex-flow: row;
    gap: $container-gap;
    padding: 0.5rem 1rem 0.5rem 1rem;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background: $navbar-color;
    
    #links{
        display: inherit;
        flex-flow: row;
        gap: 1rem;
        align-items: center;

        span, div{
            cursor: pointer;
        }

        #notification-button{
            visibility: visible;
            
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            background : none;
            border: none;
            cursor: pointer;

            #notification-count{
                font-weight: bold;
                position: absolute;
                top: -5px;
                right: -5px;
                display: flex;
                flex-flow: column;
                align-items: center;
                justify-content: center;
                background: red;
                border-radius: 50%;
                padding: 5px;
                width: 23px;
                height: 23px;
                color: white;

                &:after{
                    content: attr(data-notification-count);
                }
            }
        }
    }
}

#notifications-window{
    z-index: 1;
    position: absolute;
    top: -100vh;
    display: flex;
    flex-flow: column;
    gap: $container-gap;
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
    background: gray;
    padding: 5.2rem 1rem;
    padding-bottom: $navbar-height;
    transition: all 0.1s ease-out;

    .cyan-text{
        color: cyan;
    }
    
    .notifications-header{
        width: 100%;
        border-bottom: 1px solid white;
        background: black;
    }

    .notification{
        padding: 0.25rem;
        justify-content: space-between;
        background: darkgray;
    }

    ul{
        display: flex;
        flex-flow: column;
        align-items: center;
        

        li{
            width: 100%;
            display: flex;
            flex-flow: row;
            gap: 1rem;
            list-style: none;
        }
    }

 
    &.show{
        top: 0;
    }
}