* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  padding: 0;
  margin: 0; }

form {
  display: flex;
  flex-flow: column;
  padding: 0.1rem;
  gap: 0.5rem; }
  form input, form button, form select, form option {
    color: black; }

a {
  text-decoration: none; }

img {
  width: 32px;
  height: 32px; }

table {
  width: 100%;
  border-collapse: collapse; }
  table td {
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid white;
    padding: 5px 0 5px 0; }

button, input, select, textarea {
  color: black; }

body {
  height: 100vh;
  width: 100vw; }

header {
  display: flex;
  flex-flow: row;
  gap: 0.5rem;
  padding: 1.7rem 1rem 1rem 1rem;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background: #343434; }
  header #links {
    display: inherit;
    flex-flow: row;
    gap: 1rem;
    align-items: center; }
    header #links span, header #links div {
      cursor: pointer; }

textarea {
  resize: none; }

#app {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column; }

.page {
  align-items: center;
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
  width: 100%;
  flex: 1;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  overflow-x: hidden; }

#home-page h1 {
  font-size: 3rem; }

.link {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center; }

.navbar {
  padding: 0.5rem;
  width: 100%;
  background: #343434;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly; }
  .navbar .nav-item {
    cursor: pointer;
    padding: 0.1rem;
    display: flex;
    align-items: center;
    justify-content: center; }
    .navbar .nav-item.selected {
      background: #1100d7; }
    .navbar .nav-item:hover {
      background: #1100d7; }
  .navbar img {
    width: 32px;
    height: 32px; }

.align-right {
  text-align: right; }

.bold-text {
  font-weight: bold; }

.container {
  align-items: center;
  background: rgba(9, 0, 113, 0.7);
  padding: 0.5rem;
  width: 100%;
  border-radius: 5px;
  gap: 0.2rem;
  backdrop-filter: blur(6px); }
  .container:hover {
    background: rgba(17, 0, 215, 0.7); }

.gamelist-container button {
  width: 100%; }

#games-page {
  overflow-y: scroll; }

#betting-page .betting-container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  background: rgba(9, 0, 113, 0.7);
  width: 100%;
  padding: 0.2rem;
  backdrop-filter: blur(6px); }

#betting-page #bet-title {
  display: flex;
  flex-flow: row;
  align-items: center; }
  #betting-page #bet-title #bet-name {
    flex: 1;
    text-align: center; }
  #betting-page #bet-title #back-button {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center; }
    #betting-page #bet-title #back-button img {
      width: 32px;
      height: 32px; }
    #betting-page #bet-title #back-button:hover {
      background: #1100d7; }

#betting-page #bet-pool, #betting-page #bet-pool-ring {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center; }

#betting-page #bet-pool {
  flex: 1; }

#betting-page #bet-pool-ring {
  border: 0.25rem solid white;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  transition: border-color 0.2s ease-out; }
  #betting-page #bet-pool-ring.call {
    border-color: yellow; }
  #betting-page #bet-pool-ring.set {
    border-color: red; }
  #betting-page #bet-pool-ring.entry {
    border-color: limegreen; }

#betting-page #bet-controls form {
  flex-flow: row; }
  #betting-page #bet-controls form input, #betting-page #bet-controls form button, #betting-page #bet-controls form select {
    flex: 1;
    align-self: stretch;
    width: calc(100% / 3); }

@keyframes glowAnimation {
  0% {
    border-color: white; }
  50% {
    border-color: skyblue; }
  100% {
    border-color: white; } }

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(360deg); } }

#coins-page {
  justify-content: center; }
  #coins-page #coins-ring {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2;
    gap: 2.5rem;
    height: 200px;
    width: 200px;
    transform: rotate(45deg);
    transition: border-color 0.2s ease-out;
    animation: rotateAnimation;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 10s; }
    #coins-page #coins-ring button {
      width: 50%; }
    #coins-page #coins-ring.animate-red {
      border-color: red; }
    #coins-page #coins-ring.animate-green {
      border-color: lime; }
    #coins-page #coins-ring .cube {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      border: 0.25rem solid white;
      animation-name: rotateAnimation;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-direction: reverse;
      animation-duration: 6s; }
      #coins-page #coins-ring .cube:nth-child(2) {
        animation-duration: 5s; }
      #coins-page #coins-ring .cube:nth-child(3) {
        animation-duration: 4s; }
      #coins-page #coins-ring .cube:nth-child(4) {
        animation-duration: 3s; }

#loading-page {
  align-items: center;
  justify-content: center; }

#account-info {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center; }

#new-game-page {
  justify-content: center; }
  #new-game-page form {
    display: flex;
    flex-flow: column;
    gap: 0.5rem; }
    #new-game-page form input, #new-game-page form button {
      color: black; }

@keyframes RingAnimation {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(365deg); } }

.loading-ring {
  display: flex;
  flex-flow: column; }
  .loading-ring .ring-prong {
    background: white;
    width: 1rem;
    height: 5rem;
    animation: RingAnimation;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    align-self: center;
    justify-self: center; }
