#grid-account{
    font-size: $data-font-size;
    grid-area: account;
    color: white;
}

#output-account-balance{
    transition: color 0.3s ease-out;
}

#output-account-balance.flash{
    color: red;
}