#app-content{
    border-radius: $borderRadius;
}

@media screen and (max-width : 1000px){
    /*Mobile phone*/
    #game-pool{
        height: 1000px;
    }

    #game-pool-border-circle{
        width: 700px;
        height: 700px;
    }

    #grid-controls{
        height: 300px;
    }   

    #app-content{
        width: 100%;
        display: grid;
        grid-template-areas: 'game-name game-name'
        'game-pool game-pool'
        'account bank'
        'controls controls'
        'login login';
    
        background: $secondary-color;
        
        gap : $gapSize;
        padding: 2px;
    }
}

@media screen and (min-width : 1001px){

    #game-pool-border-circle{
        width: 350px;
        height: 350px;
    }
    
    #app-content{
        width: 100vw;
        height: 50%;
        display: grid;
        grid-template-areas: 'game-name game-name game-name'
        'game-pool account controls'
        'game-pool bank controls'
        'game-pool login login';
    
        background: $secondary-color;
        gap : $gapSize;
        padding: 2px;

        align-items: center;
    }
}