#game-name{
    grid-area: game-name;
    display: flex;
    align-items: center;
    justify-content: center;
}

#game-pool{
    grid-area: game-pool; 
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#game-pool-border-circle{
    border: 2px solid white;
    border-radius: 50%;
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: border-color 0.5s ease-out;
}

#output-game-pool{
    font-size: 60px;
}

#output-game-min-bet{
    font-size: 15px;
}