#game-name{
    grid-area: game-name;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#game-pool{
    grid-area: game-pool; 
    height: 800px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $pool-color;
    border-color: lighten($pool-color, $border-lighten-amount);
}

#game-pool-border-circle{
    border: 2px solid white;
    border-radius: 50%;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: border-color 0.5s ease-out;
}

#output-game-pool{
    font-size: 80px;
}

#output-game-min-bet{
    font-size: 15px;
}

#output-game-pool-currencySymbol{
    font-size: 30px;
}