#login-grid{
    grid-area: login;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    color: white;

    gap: $gapSize;
}

.login-input{
    max-width: 300px;
}