@import 'config';
@import 'app-content';
@import 'game-grid';
@import 'account-grid';
@import 'control-grid';
@import 'bank-grid';

body{  
    display: flex;
    flex-flow : column;
    gap : $gapSize;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;  
    
}

input{
    font-size: 50px;
}

button, select, input{
    font-weight: bold;
    font-size: 25px;
}

button, select{
    background: lighten($primary-color, 30);
    color: white;
    border-radius: $borderRadius;
    border: 1px solid white;
    border-color: lighten($primary-color, $border-lighten-amount);
}

.grid-item{
    border: 1px solid white;
    border-radius: $borderRadius;

    background: $primary-color;
    border-color: lighten($primary-color, $border-lighten-amount);

    padding: 4px;

    font-size: 25px;
    font-weight: bold;

    background: $primary-color;
}

#nav-header{
    height: 50px;
    width: 100%;
    background : $primary-color;
}


