@import '../Config';

#user-page{
    #user-page-header{
        display: flex;
        flex-flow: column;
        padding: 0.5rem 0 0.5rem 0 !important;
        background: none !important;
        border-bottom: 1px solid white;
        width: 100%;

        #header-username-area{
            h2{
                text-align: center;
            }

            #user-links{
                display: flex;
                flex-flow: row;
                gap: 1rem;
                align-items: center;
                justify-content: center;

                a{
                    display: flex;
                    flex-flow: column;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
        

        #user-details{
            display: flex;
            flex-flow: row;
            padding: 0.5rem 0 0.5rem 0;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }
        
        #buttons{
            display: flex;
            flex-flow: row;
            width: 100%;
            justify-content: space-between;
            gap:0.25rem;
        }

        #user-icon{
            display: flex;
            flex-flow: column;
            width: 70px;
            height: 70px;
            padding: 1rem;
            border-radius: 50%;
            background: $primary-color;
            align-items: center;
            justify-content: center;
        }
    }

    .user-header-count{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        gap: 0.1rem;
    }

    #user-page-bets{
        width: 100%;
    }
}