@import '../Config';

.navbar{
    z-index: 5;
    padding: 0.5rem;
    width: 100%;
    background: $navbar-color;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    
    .nav-item{
        cursor: pointer;
        padding: 0.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid white;
        height: 32px;
        width: 32px;

        &.selected{
            background: lighten($primary-color, 20);
        }

        &:hover{
            background: lighten($primary-color, 20);
        }

        
    }

    img{
        width: 32px;
        height: 32px;
        
        &:active{
            background: lighten($primary-color, 20);
        }
    }
}