@import '../Style.scss';

.game-info-modal{
    position: relative;
    width: 100%;
    
    a{
        width: 100%;
    }

    header{

        user-select: none;
        z-index: 0;

        .badge{
            position: absolute;
            top:-8px;
            left: 90%;
            padding: 5px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            color: black;
            font-size: 10pt;

            &.show{
                visibility: visible;
            }
        }

        .call-badge{
            background: yellow;
            
            
        }

        .folded-badge{
            background: darkred;
            font-size: 7pt;
            color: white;
        }

        .bet-badge{
            background: green;
            color: white;
        }

        transition: background 0.3s ease-out;

        &.open{
            background: lighten($modal-color, 10);
        }

        .header-arrow{
            z-index: 1;
            position: absolute;
            
            top: 21px;
            left: 10px;
            clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
            height: 15px;
            width: 15px;
            background: white;

            transition: transform 0.2s ease-out;

            &.open{
                transform: rotate(180deg);
            }
        }
    }

    .content{
        z-index: 0;
        max-height: 0px;
        padding: 0px !important;

        transition: max-height 0.3s ease-out, padding 0.3s ease-out;

        table{
            visibility: hidden;
            opacity: 0;
            transition: opacity 0.3s ease-out, visibility 0.3s ease-out, max-height 0.3s ease-out;
            max-height: 0px;
        }

        &.open{
            max-height: 500px;
            padding: 5px !important;

            table{
                visibility: visible;
                opacity: 1;
                max-height: 500px;
            }
        }
    }
}