@import '../Config';

ul{
    display: flex;
    flex-flow: column;
    width: 100%;
    gap: 0.5rem;

    li{
        display: flex;
        flex-flow: row;
        padding: 0.5rem;
        justify-content: space-between;
        gap: 1rem;
        width: 100%;
        background: $primary-color;

        &.unseen{
            background: orange;
        }
    }
    
}