@import '../Config';

#new-game-page{
    justify-content: center;
    form{
        display: flex;
        flex-flow: column;
        gap: $container-gap;
        width: 100%;

        input, button{
            color: black;
            width: 100%;
        }

        textarea{
            width: 100%;
            resize: none;
        }

        button{
            margin-top: 1rem,
        }

        input, button, select, textarea{
            font-size: 1.5rem;
        }
        
    }
}